.root,
.rootBW,
.rootColor,
.rootEmpty {
    margin: 24px 0px;
    padding: 0px 24px;
    border: 0;
    height: 48px;
    display: block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    cursor: pointer;
    visibility: visible;
    text-align: center;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: none;
}
.root {
    border-radius: 8px;
}
.rootBW,
.rootColor {
    border-radius: 24px 24px 24px 0;
}
.rootEmpty {
    padding: 0px;
    gap: 0px;
}

.root[disabled],
.rootBW[disabled],
.rootColor[disabled],
.rootEmpty[disabled] {
    cursor: default;
    opacity: 0.5;
    visibility: hidden;
}

.circular {
    margin: 25px;
}

:global(html.light) .root {
    background: var(--theme-light-button-background);
    color: var(--theme-light-button-color);
}

:global(html.dark) .root {
    background: var(--theme-dark-button-background);
    color: var(--theme-dark-button-color);
}

:global(html.light) .rootBW {
    background: var(--theme-light-button-background);
    color: var(--theme-light-button-color);
}

:global(html.dark) .rootBW {
    background: var(--theme-dark-button-background);
    color: var(--theme-dark-button-color);
}

:global(html.light) .rootColor {
    background-image: var(--theme-button-grandient-background);
    color: var(--theme-dark-gradient-button-color);
}

:global(html.dark) .rootColor {
    background-image: var(--theme-button-grandient-background);
    color: var(--theme-light-gradient-button-color);
}

:global(html.light) .rootEmpty {
    background-color: var(--theme-light-background);
    color: var(--theme-light-color);
}

:global(html.dark) .rootEmpty {
    background-color: var(--theme-dark-background);
    color: var(--theme-dark-color);
}

.buttonColor {
    color: var(--theme-number-button-color-tertiary);
}
