.text {
    text-align: center;
    margin-top: 18px;
    float: left;
}

.bold,
.red {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: bold;
}

.red {
    color: red;
}

.value {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
    min-width: 350px;
}

.multiplier {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 8px;
}

.row {
    display: flex;
    justify-content: center;
}

.input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 80px;
    width: 80px;
    margin:12px;
    z-index: 100;
}

.button,
.div {
    position: relative;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 12px;
    border: 0;
    border-radius: 50% 0 50% 50%;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    transition: background-color 100ms ease-in-out;
}  

.button {
    border-radius: 50% 50% 50% 0;
}

:global(html.light) .input[type="checkbox"]:checked ~ div {
    color: var(--theme-light-numpad-button-color);
    text-shadow: 0 0 15px var(--theme-number-button-background), 0 0 25px var(--theme-number-button-background);
    animation: glow 3s linear 1;
}

:global(html.dark) .input[type="checkbox"]:checked ~ div {
    color: var(--theme-dark-numpad-button-color);
    text-shadow: 0 0 15px var(--theme-number-button-background), 0 0 25px var(--theme-number-button-background);
    animation: glow 3s linear 1;
}

@keyframes glow {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
  
:global(html.light) .div {
    background: var(--theme-number-button-background);
    color: var(--theme-light-numpad-button-color);

    /* &:hover {
        background: var(--theme-light-numpad-button-hover);
    }

    &:active {
        background: var(--theme-light-numpad-button-active);
    } */
}

:global(html.dark) .div {
    background: var(--theme-number-button-background);
    color: var(--theme-dark-numpad-button-color);

    /* &:hover {
        background: var(--theme-dark-numpad-button-hover);
    }

    &:active {
        background: var(--theme-dark-numpad-button-active);
    } */
}

:global(html.light) .button {
    background: var(--theme-backspacebutton-background);
    color: var(--theme-light-numpad-button-color);

    /* &:hover {
        background: var(--theme-light-numpad-button-hover);
    }

    &:active {
        background: var(--theme-light-numpad-button-active);
    } */
}

:global(html.dark) .button {
    background: var(--theme-backspacebutton-background);
    color: var(--theme-dark-numpad-button-color);

    /* &:hover {
        background: var(--theme-dark-numpad-button-hover);
    }

    &:active {
        background: var(--theme-dark-numpad-button-active);
    } */
}
