.root {
    display: contents;
}

.iconButton,
.iconButtonColor {
    font-family: inherit;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    margin: 24px 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--violet11);
    background-color: white;
    box-shadow: 0 2px 10px var(--blackA7);
    cursor: pointer;
    float: right;
}
.iconButton:hover {
    background-color: var(--violet3);
}
:global(html.light) .iconButtonColor {
    background-color: var(--theme-backspacebutton-background);
}
:global(html.dark) .iconButtonColor {
    background-color: var(--theme-backspacebutton-background);
}

:global(html.light) .menuIcon {
    color: var(--theme-dark-color);
}
:global(html.dark) .menuIcon {
    color: var(--theme-light-color);
}
