.root {
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}

.link {
    display: flex;
    text-decoration: none;
}

:global(html.light) .link {
    color: var(--theme-light-color);
}
:global(html.dark) .link {
    color: var(--theme-dark-color);
}

.text {
    vertical-align: top;
    line-height: 22px;
}
