.title {
    line-height: 24px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    text-align: left;
}

.balance {
    font-style: italic;
    text-align: left;
}

.total {
    display: flex;
    flex-direction: column;
    line-height: 24px;
    margin-top: 32px;
    margin-bottom: 12px;
}

:global(html.light) .title,
:global(html.light) .total {
    box-shadow: var(--theme-light-separator);
}

:global(html.dark) .title,
:global(html.dark) .total {
    box-shadow: var(--theme-dark-separator);
}

.totalLeft {
    height: 36px;
    text-align: left;
}

.totalRight {
    text-align: right;
}

.amount {
    font-size: 32px;
    font-weight: 700;
    height: 40px;
}
