@media (max-width: 767px) {
    .root {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    .root {
        position: sticky;
        top: 0;
    }

    :global(html.fullscreen) .root {
        top: 64px;
    }
}

.root {
    margin: 0px 24px;
}
